.table-background {
  background-color: #f7f8c2ee;
  border-style: ridge;
  border-width: 5px;
  border-color: #14141467
}

.search-bar{
  margin-left: 37%;
  margin-top: 15px;
  border-width: 2px;
  border-color: gray;
  margin-right: 38%;
  margin-bottom: 15px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.table-header{
  background-color: rgba(121, 121, 121, 0.486);
  color: rgb(0, 0, 0);
}

tr{
  border-color: black;
  border-width: 2px;
  border-style: solid;
}
